workflows/upwork_auto_hunter.json
{
  "name": "Upwork Auto Job Hunter",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "minutes", "minutesInterval": 15 }]
        }
      },
      "id": "a1b2c3d4-1111-4000-8000-000000000001",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300]
    },
    {
      "parameters": {
        "url": "=PASTE_YOUR_UPWORK_RSS_URL_HERE"
      },
      "id": "a1b2c3d4-1111-4000-8000-000000000002",
      "name": "Fetch Upwork RSS",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "// ===== UPWORK JOB FILTER & DEDUPLICATOR =====\nconst keywords = ['laravel', 'php', 'api', 'payment', 'bug fix', 'bug fixing', 'rest api', 'mysql'];\nconst blacklist = ['wordpress', 'shopify', 'wix', '.net', 'react native', 'flutter', 'django'];\n\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.seenJobs) staticData.seenJobs = {};\n\nconst now = Date.now();\n// Clean entries older than 7 days\nfor (const [id, ts] of Object.entries(staticData.seenJobs)) {\n  if (now - ts > 7 * 24 * 60 * 60 * 1000) delete staticData.seenJobs[id];\n}\n\nconst results = [];\nfor (const item of $input.all()) {\n  const title = (item.json.title || '').toLowerCase();\n  const desc = (item.json.contentSnippet || item.json.content || item.json.description || '').toLowerCase();\n  const link = item.json.link || item.json.guid || '';\n  const combined = title + ' ' + desc;\n  const jobId = link || title;\n\n  if (staticData.seenJobs[jobId]) continue;\n\n  const matched = keywords.filter(kw => combined.includes(kw));\n  if (matched.length === 0) continue;\n\n  const blocked = blacklist.some(kw => combined.includes(kw));\n  if (blocked) continue;\n\n  const isVerified = combined.includes('payment verified') || combined.includes('payment method verified');\n  const score = (isVerified ? 2 : 0) + matched.length;\n\n  staticData.seenJobs[jobId] = now;\n\n  const sysPrompt = 'You are an expert PHP/Laravel developer (8+ yrs). Specialties: Laravel apps, payment integrations, REST APIs, MySQL, PHP debugging. Write a compelling Upwork proposal (150-250 words). Rules: 1) Hook showing you understand THEIR problem 2) 2-3 relevant experiences 3) 3-4 bullet approach 4) Timeline estimate 5) Confident closing 6) Sound human NOT generic 7) NEVER say Dear Hiring Manager 8) First person, direct, confident';\n  const userPrompt = 'JOB TITLE: ' + (item.json.title || 'N/A') + '\\n\\nDESCRIPTION:\\n' + (item.json.contentSnippet || item.json.content || item.json.description || 'N/A') + '\\n\\nWrite the proposal now:';\n\n  results.push({\n    json: {\n      title: item.json.title || 'No Title',\n      link: link,\n      description: item.json.contentSnippet || item.json.content || item.json.description || '',\n      pubDate: item.json.pubDate || item.json.isoDate || '',\n      isPaymentVerified: isVerified,\n      matchedKeywords: matched,\n      qualityScore: score,\n      openaiBody: JSON.stringify({\n        model: 'gpt-4o-mini',\n        messages: [\n          { role: 'system', content: sysPrompt },\n          { role: 'user', content: userPrompt }\n        ],\n        temperature: 0.7,\n        max_tokens: 600\n      })\n    }\n  });\n}\n\nresults.sort((a, b) => b.json.qualityScore - a.json.qualityScore);\nreturn results.length > 0 ? results : [{ json: { noResults: true, title: '' } }];"
      },
      "id": "a1b2c3d4-1111-4000-8000-000000000003",
      "name": "Filter and Prepare",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-1",
              "leftValue": "={{ $json.title }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "isNotEmpty" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "a1b2c3d4-1111-4000-8000-000000000004",
      "name": "Has Results",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [750, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.openaiBody }}"
      },
      "id": "a1b2c3d4-1111-4000-8000-000000000005",
      "name": "Generate Proposal",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1000, 200],
      "credentials": { "openAiApi": { "id": "CREATE_IN_N8N", "name": "OpenAI account" } }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\nfor (let i = 0; i < items.length; i++) {\n  const proposal = items[i].json.choices?.[0]?.message?.content || 'Failed to generate proposal';\n  const job = $('Filter and Prepare').all()[i]?.json || {};\n  const title = job.title || 'Unknown Job';\n  const link = job.link || '#';\n  const isVerified = job.isPaymentVerified || false;\n  const matched = (job.matchedKeywords || []).join(', ');\n\n  const subject = '🚀 New Upwork Job: ' + title;\n  const body = '<div style=\"font-family:Segoe UI,Arial,sans-serif;max-width:600px;margin:0 auto;padding:20px\"><div style=\"background:linear-gradient(135deg,#667eea,#764ba2);padding:20px;border-radius:12px 12px 0 0;text-align:center\"><h1 style=\"color:#fff;margin:0;font-size:22px\">🎯 New Upwork Job Match!</h1></div><div style=\"background:#f8f9fa;padding:20px;border:1px solid #e9ecef\"><h2 style=\"color:#2d3748;margin-top:0\">' + title + '</h2>' + (isVerified ? '<span style=\"background:#48bb78;color:#fff;padding:3px 10px;border-radius:20px;font-size:12px\">✅ Payment Verified</span>' : '<span style=\"background:#ed8936;color:#fff;padding:3px 10px;border-radius:20px;font-size:12px\">⚠️ Not Verified</span>') + '<p style=\"margin-top:10px\"><strong>Matched Skills:</strong> ' + matched + '</p><div style=\"margin:15px 0\"><a href=\"' + link + '\" style=\"display:inline-block;background:#4299e1;color:#fff;padding:10px 20px;border-radius:8px;text-decoration:none;font-weight:bold\">🔗 View Job on Upwork</a></div></div><div style=\"background:#fff;padding:20px;border:1px solid #e9ecef;border-top:none\"><h3 style=\"color:#2d3748;border-bottom:2px solid #667eea;padding-bottom:8px\">📝 AI-Generated Proposal</h3><div style=\"background:#f7fafc;padding:15px;border-radius:8px;border-left:4px solid #667eea;white-space:pre-wrap;line-height:1.6\">' + proposal + '</div></div><div style=\"background:#2d3748;color:#a0aec0;padding:15px;border-radius:0 0 12px 12px;text-align:center;font-size:12px\"><p>Upwork Auto Job Hunter • n8n</p></div></div>';\n\n  results.push({ json: { subject, body, title, link, proposal } });\n}\nreturn results;"
      },
      "id": "a1b2c3d4-1111-4000-8000-000000000006",
      "name": "Format Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "fromEmail": "your-email@gmail.com",
        "toEmail": "your-email@gmail.com",
        "subject": "={{ $json.subject }}",
        "emailType": "html",
        "html": "={{ $json.body }}",
        "options": {}
      },
      "id": "a1b2c3d4-1111-4000-8000-000000000007",
      "name": "Send Notification",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1500, 200],
      "credentials": { "smtp": { "id": "CREATE_IN_N8N", "name": "SMTP account" } }
    }
  ],
  "connections": {
    "Schedule Trigger": { "main": [[{ "node": "Fetch Upwork RSS", "type": "main", "index": 0 }]] },
    "Fetch Upwork RSS": { "main": [[{ "node": "Filter and Prepare", "type": "main", "index": 0 }]] },
    "Filter and Prepare": { "main": [[{ "node": "Has Results", "type": "main", "index": 0 }]] },
    "Has Results": { "main": [[{ "node": "Generate Proposal", "type": "main", "index": 0 }], []] },
    "Generate Proposal": { "main": [[{ "node": "Format Email", "type": "main", "index": 0 }]] },
    "Format Email": { "main": [[{ "node": "Send Notification", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "versionId": "1",
  "meta": { "instanceId": "local" },
  "tags": []
}
